.LoveForm {
    width: 70%;
    position: fixed;
    top: 20%;
}

#formInput{
    margin: 2%;
    padding: 2%;
}

#formInputText{
    padding: 2%;
    font-size: xx-large;
}

#submitButton{
    font-size: xx-large;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    min-width: 40%;
}

#resetButton{
    font-size: xx-large;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    min-width: 40%;
}

#result{
    padding: 2%;
    margin: 2%;
}

#resultPercent{
    font-size: 150%;
    margin: 1%;
    padding: 1%;
}

#resultRecommendation{
    margin: 1%;
    padding: 1%;
}